# Copyright (c) 2016, Matt Layman
'''A sample production configuration for MarkWiki'''

# MarkWiki can be configured to require logins.
# Replace None with 'basic' to enable authentication.
AUTHENTICATION = None

# When authentication is used, the administrator account is used to manage
# MarkWiki. The admin can create new accounts and reset passwords. Set the
# desired admin username and password here (don't forget to include quotes).
ADMINISTRATOR = None
ADMIN_PASSWORD = None

# Allow a new user to register an account when authentication is enabled.
ALLOW_REGISTRATION = True

# The secret key is for user session security. Please choose something long
# and unique that is not very guessable. A sentence like what is shown below
# is probably a *bad* idea.
SECRET_KEY = 'It\'s a secret to everybody.'

# The hostname and port number
SERVER_HOST = 'example.com'
SERVER_PORT = 80

# MarkWiki is designed to support multiple methods of storing data.
# The supported types are: 'file'
STORAGE_TYPE = 'file'

# The location of all MarkWiki information
MARKWIKI_HOME = '/var/www/markwiki'

# Advanced settings

# Production deployments should not set debug to True. Nefarious people could
# find ways to exploit your server. Best to leave this one alone.
DEBUG = False

# The paths to static assets and templates can be overriden. This allows for
# complete customization of the user interface.
STATIC_PATH = None
TEMPLATE_PATH = None

# Enables handling of pages of the wiki with git. This allows to have
# versioning and revert pages to old version
GIT_ENABLED = False
