<!DOCTYPE html>
<html>
<head>
  <title>{% block title%}{% endblock %}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' media='screen'
    href='{{ url_for('static', filename='bs/css/bootstrap.min.3.0.1.css') }}'>
  <link rel='stylesheet' media='screen'
    href='{{ url_for('static', filename='bs/css/bootstrap-theme.min.3.0.1.css') }}'>
  <style>
    body {
      /* 60px to make the container go all the way to the bottom of the topbar*/
      padding-top: 60px;
    }
    @media (max-width:992px) {
       .affix {
         position: static;
         width: auto;
         top: 0;
        }
    }
  </style>
  <link rel='stylesheet' media='screen'
    href='{{ url_for('static', filename='pygments-pastie.css') }}'>
  <style>
    textarea { font-family: monospace; }
    body { margin-bottom: 6em; }
    a.toclink { color: #000; }
  </style>
</head>
<body>
<nav class='navbar navbar-fixed-top navbar-inverse' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse'
        data-target='#mw-navbar-responsive-collapse'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='{{ url_for('index') }}'>MarkWiki</a>
    </div>
    <nav class='collapse navbar-collapse' id='mw-navbar-responsive-collapse'>
      <ul class='nav navbar-nav'>
        <li><a href='{{ url_for('index') }}'><span
          class='glyphicon glyphicon-home'></span>&nbsp; Go Home</a></li>
        {% if not config['FREEZING'] %}
        <li><a href='{{ url_for('create') }}'><span
          class='glyphicon glyphicon-pencil'></span>&nbsp; Create a Wiki</a>
        </li>
        {% endif %}
        <li><a href='{{ url_for('list') }}'><span
          class='glyphicon glyphicon-eye-open'></span>&nbsp;
          Explore the Wiki</a></li>
        <li><a href='{{ url_for('wiki', page_path='MarkWiki/Help') }}'><span
          class='glyphicon glyphicon-question-sign'></span>&nbsp; Get Help</a>
        </li>
        {% if current_user.is_admin() %}
        <li><a href='{{ url_for('administrate') }}'><span
          class='glyphicon glyphicon-lock'></span>&nbsp; Administrate</a>
        </li>
        {% endif %}
      </ul>
{% if config['AUTHENTICATION'] %}
      <ul class='nav navbar-nav navbar-right'>
  {% if current_user.is_authenticated() %}
      <li class='dropdown'>
        <a href='#' class='dropdown-toggle' data-toggle='dropdown'><span
        class='glyphicon glyphicon-user'></span> {{ current_user.get_id() }} <b
        class='caret'></b></a>
        <ul class='dropdown-menu'>
            <li><a href='{{ url_for('logout') }}'>Log out</a></li>
        </ul>
      </li>
  {% else %}
      <li><a href='{{ url_for('login') }}'>Log in</a></li>
  {% endif %}
      </ul>
{% endif %}
    </nav>
  </div>
</nav>
<div class='container'>
<div class='row'>
  <div class='col-lg-2'>
    <div data-spy='affix'>
      {% block actions %}{% endblock %}
    </div>
  </div>
  <div class='col-lg-7'>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'success' %}
          <div class='alert alert-success fade in'>
          {% elif category == 'info' %}
          <div class='alert alert-info fade in'>
          {% else %}
          <div class='alert alert-danger fade in'>
          {% endif %}
            <button class='close' data-dismiss='alert' type='button'>×</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </div>
</div>
</div>
<script src='{{ url_for('static', filename='jquery-2.0.0.min.js') }}'></script>
<script src='{{ url_for('static', filename='bs/js/bootstrap.min.3.0.1.js') }}'>
</script>
<script>
$(function() {
{% block onready %}{% endblock %}
});
</script>
</body>
</html>
