<!DOCTYPE html>
<html>
<head>
  <title>{% block title%}{% endblock %}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' media='screen'
    href='{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}'>
  <style>
    body {
      /* 60px to make the container go all the way to the bottom of the topbar*/
      padding-top: 60px;
    }
  </style>
  <link rel='stylesheet' media='screen'
    href='{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}'>
  <link rel='stylesheet' media='screen'
    href='{{ url_for('static', filename='pygments-pastie.css') }}'>
  <style>
    textarea { font-family: monospace; }
    body { margin-bottom: 6em; }
  </style>
</head>
<body>
<div class='navbar navbar-fixed-top navbar-inverse'>
  <div class='navbar-inner'>
    <div class='container'>
      <a class='brand' href='{{ url_for('index') }}'>MarkWiki</a>
    </div>
  </div>
</div>
<div class='container'>
<div class='row'>
  <div class='span3 offset1'>
    <ul class='nav nav-list' data-spy='affix'>
      <li class='nav-header'>Actions</li>
      <li><a href='{{ url_for('index') }}'><i
        class='icon-home'></i> Go Home</a></li>
      <li><a href='{{ url_for('create') }}'><i
        class='icon-pencil'></i> Create a Wiki</a></li>
      <li><a href='{{ url_for('list') }}'><i
        class='icon-eye-open'></i> Explore the Wiki</a></li>
      <li><a href='{{ url_for('wiki', page_path='MarkWiki/Help') }}'><i
        class='icon-question-sign'></i> Get Help</a></li>
      {% block actions %}{% endblock %}
    </ul>
  </div>
  <div class='span7'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class='alert alert-error fade in'>
            <button class="close" data-dismiss="alert" type="button">×</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </div>
</div>
</div>
<script src='{{ url_for('static', filename='jquery-2.0.0.min.js') }}'></script>
<script src='{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}'>
</script>
</body>
</html>
