<!DOCTYPE html>
<html>
<head>
  <title>{% block title%}{% endblock %}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge'>
  <link rel='stylesheet' media='screen'
    href='{{ url_for('static', filename='bs/css/bootstrap.min.3.3.4.css') }}'>
  <link rel='stylesheet' media='screen'
    href='{{ url_for('static', filename='bs/css/bootstrap-theme.min.3.3.4.css') }}'>
  <style>
    body {
      /* 60px to make the container go all the way to the bottom of the topbar*/
      padding-top: 60px;
    }
    @media (max-width:992px) {
       .affix {
         position: static;
         width: auto;
         top: 0;
        }
    }
  </style>
  <link rel='stylesheet' media='screen'
    href='{{ url_for('static', filename='pygments-pastie.css') }}'>
  <style>
    textarea { font-family: monospace; }
    body { margin-bottom: 6em; }
    a.toclink { color: #000; }
  </style>
</head>
<body>
<nav class='navbar navbar-fixed-top navbar-inverse' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse'
        data-target='#mw-navbar-responsive-collapse'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='{{ url_for('index') }}'>MarkWiki</a>
    </div>
    <nav class='collapse navbar-collapse' id='mw-navbar-responsive-collapse'>
      <ul class='nav navbar-nav'>
        <li><a href='{{ url_for('index') }}'><span
          class='glyphicon glyphicon-home'></span>&nbsp; Go Home</a></li>
        {% if not config['FREEZING'] %}
        <li><a href='{{ url_for('create') }}'><span
          class='glyphicon glyphicon-pencil'></span>&nbsp; Create a WikiPage</a>
        </li>
        {% endif %}
        <li><a href='{{ url_for('list') }}'><span
          class='glyphicon glyphicon-eye-open'></span>&nbsp;
          Explore the Wiki</a></li>
        <li><a href='{{ url_for('wiki', page_path='MarkWiki/Help') }}'><span
          class='glyphicon glyphicon-question-sign'></span>&nbsp; Get Help</a>
        </li>
        {% if current_user.name == config['ADMINISTRATOR'] %}
        <li><a href='{{ url_for('administrate') }}'><span
          class='glyphicon glyphicon-lock'></span>&nbsp; Administrate</a>
        </li>
        {% endif %}
      </ul>
{% if config['AUTHENTICATION'] %}
      <ul class='nav navbar-nav navbar-right'>
  {% if current_user.is_authenticated() %}
      <li class='dropdown'>
        <a href='#' class='dropdown-toggle' data-toggle='dropdown'><span
        class='glyphicon glyphicon-user'></span> {{ current_user.name }} <b
        class='caret'></b></a>
        <ul class='dropdown-menu'>
            <li><a href='{{ url_for('logout') }}' id='logout'>Log out</a></li>
        </ul>
      </li>
  {% else %}
      <li><a href='{{ url_for('login') }}'>Log in</a></li>
  {% endif %}
      </ul>
{% endif %}
    </nav>
  </div>
</nav>
<div class='container'>
<div class='row'>
  <div class='col-lg-3'>
    <div style='width:262px;' data-spy='affix'>
    {% if not config['FREEZING'] %}
      <form action='{{ url_for('search') }}' method='GET'>
        <div class='input-group'>
          <input type='text' name='q' class='form-control'
            placeholder='Search...'>
          <span class='input-group-btn'>
            <button type='submit' class='btn btn-info'>
              <span class='glyphicon glyphicon-search'></span>
            </button>
          </span>
        </div>
      </form>
    {% endif %}
      {% block actions %}{% endblock %}
    </div>
  </div>
  <div class='col-lg-7'>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'success' %}
          <div class='alert alert-success fade in'>
          {% elif category == 'info' %}
          <div class='alert alert-info fade in'>
          {% else %}
          <div class='alert alert-danger fade in'>
          {% endif %}
            <button class='close' data-dismiss='alert' type='button'>×</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </div>
</div>
</div>
<div id='auth_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
          aria-hidden='true'>×</button>
        <h3 class='modal-title'>Oops...</h3>
      </div>
      <div class='modal-body'>
        <p>It looks like there was a problem verifying your login.</p>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-default' data-dismiss='modal'
          aria-hidden='true'>Close</button>
      </div>
    </div>
  </div>
</div>
<script src='{{ url_for('static', filename='jquery-2.0.0.min.js') }}'></script>
<script src='{{ url_for('static', filename='bs/js/bootstrap.min.3.3.4.js') }}'>
</script>
<script src='{{ url_for('static', filename='persona.js') }}'></script>
<script>
{% if config['ALLOW_REGISTRATION'] %}
  var App = {
    verifyAssertion: function(assertion) {
      $.post('{{ url_for('persona_login') }}',
        {assertion: assertion, next: App.next},
        function (data, textStatus) {
          if ('success' === textStatus) {
            if (data.next) {
              window.location.href = data.next;
            } else {
              window.location.href = '{{ url_for('index') }}'
            }
          } else {
            $('#auth_modal').modal('show');
            navigator.id.logout();
          }
        }, 'json');
    },

    logoutUser: function() {
      $.get('{{ url_for('logout') }}', {}, function () {
        window.location.href = '{{ url_for('index') }}'
      });
    },

    init: function() {
// TODO: Why is there so much network traffic for persona?
  {% if current_user.is_authenticated() %}
    {% if current_user.login_type == 'persona' %}
      {# Only Persona users need to use the navigator logout method. #}
      var logOut = document.getElementById('logout');
      if (logOut) {
        logOut.onclick = function(ev) {
          ev.preventDefault();
          navigator.id.logout();
        };
      }
      {# watch() will logout non-Persona users so use for Persona only. #}
      navigator.id.watch({
        loggedInUser: '{{ current_user.email }}',
        onlogin: this.verifyAssertion,
        onlogout: this.logoutUser
      });
    {% endif %}
  {% endif %}
    }
  };
{% endif %}
$(function() {
{% block onready %}{% endblock %}
{% if config['ALLOW_REGISTRATION'] %}
  App.init();
{% endif %}
});
</script>
</body>
</html>
