{% extends 'base.html' %}
{% block title %}
  {% if page_path %}
  Create {{ page_path }}
  {% else %}
  Create a Wiki
  {% endif %}
{% endblock %}
{% block content %}
<h1>{{ self.title() }}</h1>
<form action='/make_wiki' method='POST'>
  <div class='control-group'>
    <label for='page_path'>Wiki</label>
    <input type='text' name='page_path'
    {% if page_path %}
      value='{{ page_path }}'
    {% else %}
      autofocus='autofocus'
    {% endif %}
      placeholder='Provide a wiki name...'
    >
  </div>
  <div class='control-group'>
    <textarea rows='30' name='wiki_content' class='span7'
    {% if page_path %}
      autofocus='autofocus'
    {% endif %}
      placeholder='Start writing your wiki...'
    {% if wiki_content %}
      >{{ wiki_content }}</textarea>
    {% else %}
      ></textarea>
    {% endif %}
  </div>
  <div class='control-group'>
    <button type='submit' class='btn btn-success'>
      <i class='icon-ok icon-white'></i> Save Wiki
    </button>
  </div>
</form>
{% endblock %}
