{% extends 'base.html' %}
{% block title %}Create {{ page_path|default('a Wiki', true) }}{% endblock %}
{% block content %}
<h1>{{ self.title() }}</h1>
<form action='{{ url_for('make_wiki') }}' method='POST'>
  <div class='form-group'>
    <label for='page_path'>Wiki</label>
    <input type='text' name='page_path' class='form-control'
    {% if page_path %}
      value='{{ page_path }}'
    {% else %}
      autofocus='autofocus'
    {% endif %}
      placeholder='Provide a wiki name...'
    >
  </div>
  <div class='form-group'>
    <textarea rows='30' name='wiki_content' class='form-control'
    {% if page_path %}
      autofocus='autofocus'
    {% endif %}
      placeholder='Start writing your wiki...'
    {% if wiki_content %}
      >{{ wiki_content }}</textarea>
    {% else %}
      ></textarea>
    {% endif %}
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn-success'>
      <span class='glyphicon glyphicon-ok'></span> Save Wiki
    </button>
  </div>
</form>
{% endblock %}
