{% extends 'base.html' %}
{% block title %}Edit {{ page_path }}{% endblock %}
{% block content %}
<h1>{{ self.title() }}</h1>
<form action='{{ url_for('update_wiki') }}' method='POST'>
  <input type='hidden' name='original_page_path' value='{{ page_path }}'>
  <div class='form-group'>
    <label for='page_path'>Wiki:</label>
    <input type='text' name='page_path' class='form-control'
      value='{{ page_path }}'>
  </div>
  <div class='form-group'>
    <textarea rows='30' name='wiki_content' class='form-control'
      autofocus='autofocus'>{{ wiki_content }}</textarea>
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn-success'>
      <span class='glyphicon glyphicon-ok'></span> Save Wiki
    </button>
  </div>
</form>
{% endblock %}
