{% extends 'base.html' %}
{% block title %}MarkWiki - Log in{% endblock %}
{% block content %}
<h1>Log in to proceed</h1>
<p>Certain actions on MarkWiki require a logged in user. Please enter your
user information.</p>
{% if config['ALLOW_REGISTRATION'] %}
<p><a href='{{ url_for('register') }}'>Are you a new user? Register now!</a></p>
{% endif %}
<form action='{{ url_for('login') }}' method='POST'>
  {{ form.csrf_token }}
{% if request.args.get('next') %}
  {{ form.next(value=request.args.get('next')) }}
{% endif %}
  <div class='form-group'>
    {{ form.username.label }}
    {{ form.username(class_='form-control', autofocus='autofocus',
      placeholder='Please enter your username...') }}
{% for error in form.username.errors %}
    <div class='alert alert-danger fade in'>{{ error }}</div>
{% endfor %}
  </div>
  <div class='form-group'>
    {{ form.password.label }}
    {{ form.password(class_='form-control',
      placeholder='Please enter your password...') }}
{% for error in form.password.errors %}
    <div class='alert alert-danger fade in'>{{ error }}</div>
{% endfor %}
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn-success'>
      <span class='glyphicon glyphicon-ok'></span> Log in
    </button>
  </div>
</form>
{% if config['ALLOW_REGISTRATION'] %}
  <p>You may also log in with <a
  href='http://www.mozilla.org/en-US/persona/'>Mozilla Persona</a>.</p>
  <p><a href='#' id='login'><img
      src='{{ url_for('static', filename='persona.png') }}' id='login' /></a>
  </p>
{% endif %}
{% endblock %}
{% block onready %}
{% if config['ALLOW_REGISTRATION'] %}
  {% if request.args.get('next') %}
    App.next = '{{ request.args.get('next') }}';
  {% endif %}

  {# Only the login page will be used for non-authenticated Persona users. #}
  {% if not current_user.is_authenticated() %}
  navigator.id.watch({
    loggedInUser: null,
    onlogin: App.verifyAssertion,
    onlogout: App.logoutUser
  });
  {% endif %}

  var logIn = document.getElementById('login');
  if (logIn) {
    logIn.onclick = function() { navigator.id.request(); };
  }
{% endif %}
{% endblock %}
