{% extends 'base.html' %}
{% block title %}MarkWiki - Register{% endblock %}
{% block content %}
<h1>Register an account</h1>
<p>Provide a username and password to create an account with MarkWiki.</p>
<form action='{{ url_for('register') }}' method='POST'>
  {{ form.csrf_token }}
  <div class='form-group'>
    {{ form.username.label }}
    {{ form.username(class_='form-control', autofocus='autofocus',
      placeholder='Please enter a username...') }}
{% for error in form.username.errors %}
    <div class='alert alert-danger fade in'>{{ error }}</div>
{% endfor %}
  </div>
  <div class='form-group'>
    {{ form.password.label }}
    {{ form.password(class_='form-control',
      placeholder='Please enter a password...') }}
{% for error in form.password.errors %}
    <div class='alert alert-danger fade in'>{{ error }}</div>
{% endfor %}
  </div>
  <div class='form-group'>
    {{ form.confirm.label }}
    {{ form.confirm(class_='form-control',
      placeholder='Please re-enter the password...') }}
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn-success'>
      <span class='glyphicon glyphicon-ok'></span> Register
    </button>
  </div>
</form>
{% endblock %}
