{% extends 'base.html' %}
{% block title %}MarkWiki - {{ title }}{% endblock %}

{% block content %}
<ul class='breadcrumb'>
  <li><a href='{{ url_for('list') }}'>Explore</a>
    <i class='icon-chevron-right'></i>
  </li>
{% for section in g.sections %}
  <li><a href='{{ url_for('list', section_path=section.path) }}'
    >{{ section.name }}</a> <i class='icon-chevron-right'></i></li>
{% endfor %}
  <li class='active'>{{ title }}</li>
</ul>

{{ wiki|safe }}

<div id='delete_modal' class='modal hide fade' tabindex='-1' role='dialog'
  aria-labelledby='delete_modal_label' aria-hidden='true'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal'
      aria-hidden='true'>×</button>
    <h3 id='delete_modal_label'>Whoa... hold on.</h3>
  </div>
  <div class='modal-body'>
    <p>If you continue, this wiki page says buh-bye forever. Are you sure you
    want to do that?</p>
  </div>
  <div class='modal-footer'>
    <button class='btn' data-dismiss='modal'
      aria-hidden='true'>No, get me out of here!</button>
    <button id='really_delete'
      class='btn btn-danger'>Delete {{ page_path }}</button>
  </div>
</div>

<form id='delete_form' action='{{ url_for('delete', page_path=page_path) }}'
   method='POST'>
</form>
{% endblock %}

{% block actions %}
{# When freezing, do not display the edit and delete links. #}
{% if not config['FREEZING'] %}
  <li class='divider'></li>
  <li class='nav-header'>{{ title }} Actions</li>
  <li><a href='{{ url_for('edit', page_path=page_path) }}'><i
    class='icon-edit'></i> Edit</a></li>
  {# Home is special so don't allow it to be deleted. #}
  {% if page_path != 'Home' %}
  {# Allow users to get an error from the server if JavaScript is disabled. #}
  <li><a id='delete' href='{{ url_for('delete', page_path=page_path) }}'><i
    class='icon-remove'></i> Delete</a></li>
  {% endif %}
{% endif %}
{% endblock %}

{% block onready %}
$('#delete').click(function(event) {
  // Prevent the default so that the GET delete doesn't happen.
  event.preventDefault();
  $('#delete_modal').modal('show');
});

$('#really_delete').click(function(event) {
  $('#delete_form').submit();
});
{% endblock %}
