{% extends 'base.html' %}
{% block title %}MarkWiki - {{ title }}{% endblock %}

{% block content %}
<ul class='breadcrumb'>
  <li><a href='{{ url_for('list') }}'>Explore</a></li>
{% for section in g.sections %}
  <li><a href='{{ url_for('list', section_path=section.path) }}'
    >{{ section.name }}</a></li>
{% endfor %}
  <li class='active'>{{ title }}</li>
</ul>

{{ wiki|safe }}

<div id='delete_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
          aria-hidden='true'>×</button>
        <h3 class='modal-title'>Whoa... hold on.</h3>
      </div>
      <div class='modal-body'>
        <p>If you continue, this wiki page says buh-bye forever. Are you sure
        you want to do that?</p>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-default' data-dismiss='modal'
          aria-hidden='true'>No, get me out of here!</button>
        <button id='really_delete' aria-hidden='true'
          class='btn btn-danger'>Delete {{ page_path }}</button>
      </div>
    </div>
  </div>
</div>

<form id='delete_form' action='{{ url_for('delete', page_path=page_path) }}'
   method='POST'>
</form>
{% endblock %}

{% block actions %}
{# When freezing, do not display the edit and delete links. #}
{% if not config['FREEZING'] %}
  <h4>Actions</h4>
  <div class='list-group'>
    <a class='list-group-item'
      href='{{ url_for('edit', page_path=page_path) }}'><span
      class='glyphicon glyphicon-edit'></span> Edit</a>
  {# Home is special so don't allow it to be deleted. #}
  {% if page_path != 'Home' %}
  {# Allow users to get an error from the server if JavaScript is disabled. #}
    <a class='list-group-item' id='delete'
      href='{{ url_for('delete', page_path=page_path) }}'><span
      class='glyphicon glyphicon-remove'></span> Delete</a>
  {% endif %}
  {% if page_path == 'Home' %}
  {# Allow user to launch re-indexing for search on Home page #}
    <a class='list-group-item'
      href='{{ url_for('reindex') }}'><span
      class='glyphicon glyphicon-refresh'></span> Re-index</a>
  {% endif %}
  </div>
{% endif %}
{% endblock %}

{% block onready %}
$('#delete').click(function(event) {
  // Prevent the default so that the GET delete doesn't happen.
  event.preventDefault();
  $('#delete_modal').modal('show');
});

$('#really_delete').click(function(event) {
  $('#delete_form').submit();
});
{% endblock %}
