{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}{{ wiki|safe }}{% endblock %}
{% block actions %}
<li class='divider'></li>
<li class='nav-header'>{{ title }} Actions</li>
<li><a href='{{ url_for('edit', page_path=page_path) }}'><i
  class='icon-edit'></i> Edit</a></li>
{# MarkWiki is special so don't allow it to be deleted. #}
{% if page_path != 'MarkWiki' %}
<li><a href='{{ url_for('delete', page_path=page_path) }}'><i
  class='icon-remove'></i> Delete</a></li>
{% endif %}
{% endblock %}
