{% extends 'base.html' %}
{% block title %}Edit {{ page_path }}{% endblock %}
{% block content %}
<form action='/update_wiki' method='POST'>
  <input type='hidden' name='original_page_path' value='{{ page_path }}'>
  <div class='control-group'>
    <label for='page_path'>Wiki:</label>
    <input type='text' name='page_path' value='{{ page_path }}'>
  </div>
  <div class='control-group'>
    <textarea rows='30' name='wiki_content' class='span7'
      autofocus='autofocus'>{{ wiki_content }}</textarea>
  </div>
  <div class='control-group'>
    <button type='submit' class='btn btn-success'>
      <i class='icon-ok icon-white'></i> Save Wiki
    </button>
  </div>
</form>
{% endblock %}
